html {
    scroll-behavior: smooth;
}

li {
    position: relative;
    display: inline-block;
    background-color: #1F2937;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    color: #34D399;
}

li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #34D399;
    transition: width 0.3s ease;
}

li:hover::after {
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #34D399;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: #2A9D8F;
}

a {
    text-decoration: none;
    color: #34D399;
    font-weight: 600;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
    color: #c8e6e6;
    text-decoration: underline;
}

.navbar {
    background: linear-gradient(90deg, #2c5364, #203a43, #2c5364); /* Purple → Pink → Orange */
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
